<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0,user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>王小波资料检索系统</title>
    <link href="{{ url_for('static', filename='css/bootstrap-theme.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/minty.css') }}" rel="stylesheet">
</head>
<body style="background-color: #a7e4cc;">
<div class="container">
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <h1 class="text-center">抱歉，页面不存在！</h1>
    <p ></p>
</div>

</body>
</html>